DB_CONNECTIONS =  {
        "default": "mysql://root:@localhost/agent?charset=utf8mb4"
    }

REDIS_URL = "redis://localhost"

WEB = {
    "TURING": {
        "ENDPOINT": "http://openapi.turingapi.com/openapi/api/v2",
        "APIKEY": "",
        "SECRET": ""
      }
}

GRPC_CLIENT = {
    "AI":{
          "ENDPOINT":"localhost:50051"
              }
}